{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}

<div class="container col-3">
    <table class="table table-bordered">
        <thead class="table-orange">
        <tr>
            <th style="background-color: white;">Всего</th>
            <th style="background-color: #d5bbfe;">На Оформлении</th>
            <th style="background-color: #55ACEE;">В Пути</th>
            <th style="background-color: #fa9705;">На Почте</th>
            <th style="background-color: #01cc92;">Завершено</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ total }}</td>
            <td>{{ pending }}</td>
            <td>{{ in_transit }}</td>
            <td>{{ received }}</td>
            <td>{{ complete }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container col-10">
    <table class="table table-bordered">
  <thead class="table-dark">
    <tr>
        <th>№</th>
        <th>ФИО Клиента</th>
        <th>Инстаграм</th>
        <th>Номер Телефона</th>
        <th>Модель</th>
        <th>Цвет</th>
        <th>Размер</th>
        <th>Кол-во</th>
        <th>Артикул</th>
        <th>Цена</th>
        <th>Дата создания</th>
        <th>Подтвердить</th>
        <th>Удалить</th>
    </tr>
  </thead>
  <tbody>
  {% for order in orders %}
    <tr {% if order.pending == True %}
        style="background-color: #d5bbfe;"
        {% elif order.in_transit == True %}
        style="background-color: #c7dcf9;"
        {% elif order.in_received %}
        style="background-color: #fa9705;"
        {% elif order.completed == True %}
        style="background-color: #06e4d1;"
        {% else %}
        style="background-color: white;"
        {% endif %}>
        <td>{{ order.id }}</td>
        <td><a href="{% url 'order_detail' order.id %}">{{ order.client }}</a></td>
        <td><a href="#">{{ order.insta }}</a></td>
        <td>{{ order.phone }}</td>
        <td>{{ order.model }}</td>
        <td>{{ order.color }}</td>
        <td>{{ order.size }}</td>
        <td>{{ order.amount }}</td>
        <td>{{ order.articul }}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.date_created|date:"d.m.Y - G:i"}}</td>
        <td>
            {% if order.completed != True %}
                <a id="done" href="{% url 'order_pending' order.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                    </svg></a>
            {% endif %}
        </td>
        <td>
            <a id="delete" href="{% url 'order_delete' order.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
                </a>

        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>


</div>

 <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if orders.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ orders.previous_page_number }}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        {% if orders.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ orders.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in orders.paginator.page_range %}
            {% if orders.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > orders.number|add:'-5' and i < orders.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if orders.paginator.num_pages > orders.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{ orders.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if orders.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ orders.next_page_number }}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>


{% endblock content %}