{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link href="{% static 'css/order_detail.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}


<div class="container-order-detail">
  <div class="row">
    <div class="col-lg-10">
    <table class="table table-bordered">
      {% for order in order %}
      <ul>
        <li>Фио:{{ order.client }}</li>
        <li>Инстаграм:{{ order.insta }}</li>
        <li>Адрес:{{ order.address }}</li>
        <li>Номер:{{ order.phone }}</li>
        <li>Модель:{{ order.model }}</li>
        <li>Цвет:{{ order.color }}</li>
        <li>Размер:{{ order.size }}</li>
        <li>Артикул:{{ order.articul }}</li>
        <li>Дата создания:{{ order.date_created|date:"d.m.Y - G:i" }}</li>
        <li>Дата изменения:{{ order.date_modified|date:"d.m.Y - G:i" }}</li>
        <br>
        <a id="edit" class="edit" href="{% url 'order_edit' order.id %}"><button class="btn btn-success" type="submit">Изменить</button></a>
      </ul>
      {% endfor %}

    </table>
    </div>
    </div>
</div>


{% endblock content %}